.splash-container{
  background-color: var(--azul-oscuro1);
  color: white;
  min-height: 100vh;
  
  
}

@media (prefers-reduced-motion: no-preference) {
  .splash-container {
    animation: nombre 2s ;
    animation-iteration-count: 1;
  }
}

@keyframes nombre {
  from {
    opacity:0
  }
  to {
    opacity:1
  }
}