.personal-data-container {
  background-color: var(--azul-oscuro2);
  color: white;
  text-align: left;

  .central {
    display: flex;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 20px 50px;
    // flex-wrap: wrap;

    .col {
      width: 100%;
      .item {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        .icon {
          width: 25px;
          margin-right: 10px;
        }
        a {
          color: white;
          text-decoration: none;
          font-size: 0.8rem;
        }
      }
    }
  }
}


@media (max-width: 700px) {
  .personal-data-container {
    .central {
      flex-wrap: wrap;
      padding: 20px 20px;
    }
  }
}

