.personal-data-container{
  
  
  background-color: var(--azul-oscuro2);
  color: white;
  text-align: left;
  
  .center{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 50px;

    .col{
      width: 50%;
      .item{
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        .icon{
          width: 25px;
          margin-right: 10px;
        }
        a{
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}