.footer {
  position: absolute;
  bottom: 0;
  background-color: var(--azul-oscuro2);
  color: white;
  width: 100%;
  padding: 10px;
  transform: translateX(-20px);
  font-size: 12px;
  text-align: center;
}
